
<div class="page_promothut">
	<div class="header_space"></div>

<div>
	<h3>What we see is what we think and what we think, we do</h3>
				<p></p>
				
				<h3>About us</h3>
				<p>Promothut welcomes you to an advance world of Print Media.
Print media was restricted to newspaper, magazines, banners, posters, outdoor billboards etc. That version of print media needed space specifically for its application. 
Promothut is introducing Print Media 2.0, dedicated to new era of advertising. In this version marketing of your products and services is done by using daily essential products with market optimisation and targeting your potential customer with the personalise touch of promothut, i.e., lowering of market budget and increasing your customer reach to a greater extent.</p>
				
				<h3>Why us?</h3>
				<p>Promothut will provide your advertisement a worth. It will neither be like a piece of paper under foot like a pamphlet or a poster that can be torn by storm or get replaced.
Infact, consumer will pay to buy the products advertising your company.
According to psychologist, if you repeat watching something often enough, people will slowly start to believe, it's true.
Hence when a consumer will use the product over and over again, former or later he will be think of it atleast for once.
Also, we are providing scanning QR code option to avail offer, if any.</p>
				
</div>
	
</div>

     