
<div class="page_promothut">
	<div class="header_space"></div>
	<div>
		<table class="col-md-12">
						
			<td class="col-md-6">
			<h3>A New World of Print Media</h3>
			<p>Print Media is still one of the well known and well used method of marketing. But in the recent years, we see no creative and innovative efforts towards its growth. PrintMedia 2.0 is dedicated to new era of advertising in which marketing of your products and servies is done by using daily-use essential produtcs with market optimisation and targeting your potential costumers with the personalised touch of Promothut i.e. lowering your marketing budget and increasing your customer reach to a greater extent.</p>
		</td>
		<td class="col-md-6" >
			<img src="../../../assets/img/copy22.png" class="copy22">
		</td>
	</table>
	</div>
<div style="text-align:center;">
	<video (click)="openModal()"  autoplay loop preload="auto" width="60%">
		<source src="../../../assets/img/DesignYourOwnPPt.mp4" type="video/mp4"></video>
</div>

	
</div>

     