
<div class="page_promothut">
	<div class="header_space"></div>
	<!-- <div class="row justify-content-center">
		<div class="col-lg-7 col-sm-12">
			<h3>A New World of Print Media</h3>
			<p>Print Media is still one of the well known and well used method of marketing. But in the recent years, we see no creative and innovative efforts towards its growth. PrintMedia 2.0 is dedicated to new era of advertising in which marketing of your products and servies is done by using daily-use essential produtcs with market optimisation and targeting your potential costumers with the personalised touch of Promothut i.e. lowering your marketing budget and increasing your customer reach to a greater extent.</p>
		</div>
		<div class="col-lg-4 col-sm-12">
			<img src="../../../assets/img/copy22.png" height="300px" class="copy22">
		</div>
	  </div> -->
	   <div class="row justify-content-center" > 
	  <div class="jumbotron" class="col-lg-6" >
		<h1 class="display-4">A New World of Print Media</h1>
		<p class="lead">Print Media is still one of the well known and well used method of marketing. But in the recent years, we see no creative and innovative efforts towards its growth. PrintMedia 2.0 is dedicated to new era of advertising in which marketing of your products and servies is done by using daily-use essential produtcs with market optimisation and targeting your potential costumers with the personalised touch of Promothut i.e. lowering your marketing budget and increasing your customer reach to a greater extent.</p>
		<hr class="my-4">
		<p class="lead">
		  <a class="btn btn-danger btn-lg" href="#" role="button">Contact Now</a>
		</p>
	  </div>
	  <div class="col-lg-4">
		<img src="../../../assets/img/copy22.png" height="300px" class="copy22">
	  </div>
	 </div> 
	<!-- <div>
		<table class="col-lg-8">
						
			<td class="col-lg-4">
			
		</td>
		<td class="col-lg-4" >
			
		</td>
	</table>
	</div> -->
<div class="col-lg-10 justify-content-center">
	<video (click)="openModal()"  autoplay loop preload="auto" width="auto" >
		<source src="../../../assets/img/DesignYourOwnPPt.mp4" type="video/mp4"></video>
</div>

	
</div>

     