
<div  >
	<video  *ngIf="!hidePromotVedio" autoplay loop preload="auto" width="100%">
		<source src="../../../assets/img/pomotHutLandingPage.mp4" type="video/mp4"></video>
		  
				<div [ngClass]="{'fixedHeader':hidePromotVedio}" class="header row">
					<span class="col-md-7" ><img class="logo_hut" routerLink="/"  src="../../../assets/img/logo_promotHut1.png" alt=""/></span>
					<span style="margin-top: 22px;" class="col-md-5">
								<div class="col-md-12">
						<span routerLink='/about' class="navBarHut" >About</span>
						
						<span  class="navBarHut">Services</span>
						
						<span  class="navBarHut">Design</span>
								</div>
								
					</span>
			
				</div>
</div>

     