<div class="row">
  <div class="col-md-12">
    <div class="card demo-icons">
      <div class="card-header">
        <h5 *ngIf="!readOnly" class="card-title">+ Add new order</h5>
        <h5 *ngIf="readOnly" class="card-title">Edit order</h5>
      </div>
      <div class="card-body all-icons">
        <div id="icons-wrapper">
          <form [formGroup]="orderForm">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Phone Number </label>
                  <input type="text" formControlName="phone" [readonly]='readOnly' (keyup)="findCustomer()" list="customers" class="form-control" placeholder="Phone No." >
                 <div class="suggestiveBox" *ngIf="suggestivePhoneArray.length>0">
<div *ngFor="let suggest of suggestivePhoneArray" (click)="fillValue(suggest)">{{suggest.phone+' / '+suggest.fName}}</div>
                </div>
                </div>
                <div *ngIf="control.phone.errors && control.phone.touched">
                  <span *ngIf="control.phone.errors.required">
                    Required
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                   <input type="text" [readonly]='readOnly' formControlName="fName"class="form-control" placeholder="First Name">
                </div>
                <div *ngIf="control.fName.errors && control.fName.touched">
                  <span *ngIf="control.fName.errors.required">
                     Required
                  </span>
                 
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Last Name</label>
                   <input type="text" [readonly]='readOnly' formControlName="lName"class="form-control" placeholder="Last Name" >
                </div>
                <div *ngIf="control.lName.errors && control.lName.touched">
                  <span *ngIf="control.lName.errors.required">
                     Required
                  </span>
                 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                   <input type="text" formControlName="add"class="form-control" placeholder="Home Address" >
                </div>
                <div *ngIf="control.add.errors && control.add.touched">
                  <span *ngIf="control.add.errors.required">
                     Required
                  </span>
              
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>City</label>
                   <input type="text" formControlName="city"class="form-control"  placeholder="City">
                </div>
                <div *ngIf="control.city.errors && control.city.touched">
                  <span *ngIf="control.city.errors.required">
                     Required
                  </span>
                 
  
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Country</label>
                   <input type="text" formControlName="country"class="form-control"  placeholder="Country" >
                </div>
                <div *ngIf="control.country.errors && control.country.touched">
                  <span *ngIf="control.country.errors.required">
                     Required
                  </span>
              
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="number" formControlName="zipCode" class="form-control"  placeholder="ZIP Code">
                </div>
                <div *ngIf="control.zipCode.errors && control.zipCode.touched">
                  <span *ngIf="control.zipCode.errors.required">
                     Required
                  </span>
                 
                 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Dry Clean &nbsp;</label>
                   <input type="checkbox" formControlName="dryClean">
                </div>
                <div *ngIf="control.dryClean.errors && control.dryClean.touched">
                  <span *ngIf="control.dryClean.errors.required">
                     Required
                  </span>
                 
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Wash and Iron &nbsp;</label>
                   <input type="checkbox" formControlName="washIron" >
                </div>
                <div *ngIf="control.washIron.errors && control.washIron.touched">
                  <span *ngIf="control.washIron.errors.required">
                     Required
                  </span>
                 
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Wash &nbsp;</label>
                   <input type="checkbox" formControlName="washFold">
                </div>
                <div *ngIf="control.washFold.errors && control.washFold.touched">
                  <span *ngIf="control.washFold.errors.required">
                     Required
                  </span>
                 
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Iron &nbsp;</label>
                   <input type="checkbox" formControlName="ironFold">
                </div>
                <div *ngIf="control.ironFold.errors && control.ironFold.touched">
                  <span *ngIf="control.ironFold.errors.required">
                     Required
                  </span>
                 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Remarks</label>
                  <textarea formControlName="remark" class="form-control textarea"></textarea>
                </div>
                <div *ngIf="control.remark.errors && control.remark.touched">
                  <span *ngIf="control.remark.errors.required">
                     Required
                  </span>
                 
                 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Delivery Boy </label>
                  <select  class="form-control" formControlName="deliveryBoy" >
                    <option style="display: none;" *ngIf="control.deliveryBoy.value">{{control.deliveryBoy.value}}</option>
                    <option style="display: none;">Select Delivery boy</option>
                    <option *ngFor="let Delivery of data.message.DeliveryBoy">{{Delivery.email}},{{Delivery.phone}}</option>
                  </select>
                </div>
                <div *ngIf="control.deliveryBoy.errors && control.deliveryBoy.touched">
                  <span *ngIf="control.deliveryBoy.errors.required">
                    Required
                  </span>
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Pickup Date </label>
                  <input type="date" formControlName="pickupDate"  class="form-control" placeholder="Company" >
                 
                </div>
                <div *ngIf="control.pickupDate.errors && control.pickupDate.touched">
                  <span *ngIf="control.pickupDate.errors.required">
                    Required
                  </span>
                </div>
              </div>
              <div class="col-md-3 pr-1">
                <div class="form-group">
                  <label>Pickup Time </label>
          
                  <input type="time" formControlName="pickupTime"  class="form-control" placeholder="Company" >
                </div>
                <div *ngIf="control.pickupTime.errors && control.pickupTime.touched">
                  <span *ngIf="control.pickupTime.errors.required">
                    Required
                  </span>
                </div>
              </div>
            </div>
           
            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="submit" [disabled]='DisableSubmit' (click)="SignUser()" class="btn btn-primary btn-round">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
