
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
      <i class="nc-icon nc-circle-10" style="font-size: 30px;"></i>
      </div>
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
     Hi {{userName}}
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a *ngIf="menuItem.type===userType" [routerLink]="['/'+userType +menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
